<ul class="nav nav-pills justify-content-center portfolio-tabs" id="myTab" role="tablist">
    {{#each filterData}}
        <li class="nav-item">
            <a class="nav-link" id="{{this.id}}-tab" data-toggle="tab" href="#{{this.id}}" role="tab" aria-controls="{{this.id}}"
                aria-selected="true">{{this.label}}</a>
        </li>
    {{/each}}
</ul>

<div class="tab-content">
    {{#each filterData}}
        <div class="tab-pane" id="{{this.id}}" role="tabpanel" aria-labelledby="{{this.id}}-tab">
            <div class="tile-container container">
                <div class="tile-row row">
                    {{#each this.data}}
                        <div class="tile-holder col-md-3">
                            <img class="tile-img" src={{this.imgPath}} />
                            {{#if this.pdfLink}}
                                <div class="link-holder">
                                    <a href={{this.pdfLink}} target="_blank">Click here to view</a>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                    </div>
            </div>
        </div>
    {{/each}}
</div>